body {
  font-family: 'Raleway';
}

h1 {
  font-size: 34px;
  font-weight: 700;
  color: #222;
}

h2 {
  font-size: 22px;
  font-weight: 300;
  color: #555;
}

.user-modes-container {
  margin: 20px;
}

.user-mode, .user-mode-selected {
  font-family: 'Raleway';
  font-size: 18px;
  text-decoration: none;
  letter-spacing: 1px;
  color: #222;
  margin: 20px;
  border: none;
  background: none;
  outline: none;
}

.user-mode-selected {
  border-bottom: 2px solid #333;
}