<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/main.css" rel ="stylesheet" type="text/css"/>
    <link href="../style/about.css" rel ="stylesheet" type="text/css"/>
  </head>
  <body>

    <div class="header-container">
      <div class="header-logo-container">
        <div class="header-logo-image" src="../images/guestPetLogo"></div>
        <a class="header-logo-title" href="index.html">GuestPet</a>
      </div>

      <div class="header-links-container">
        <a id="register" class="header-link" href="index.html">Cadastre-se</a>
        <a id="login" class="header-link" href="login.html">Entrar</a>
      </div>
    </div>
    <div class="header-pseudo-shadow"></div>

    <div align="center" class="about-container">
      <div class="about-content">
        <h1>Sobre</h1>
        <div class="paragraph">
          Somos uma  empresa voltada para o  cuidado com animais domésticos. Nosso objetivo é garantir uma  estadia de qualidade para pets de pequeno porte quando seus donos não tiverem a oportunidade de lhes acompanharem. Somos, nesse aspecto, muito parecidos com hotéis.
        </div>

        <div class="paragraph">
          Donos de animais hoje em dia, quando vão viajar, se vêem obrigados a procurar por amigos disponíveis a ficar com seus pets ou hotéis de animais (sendo essa opção ainda bastante cara e não automatizada por plataforma online). Desta forma, queremos que uma plataforma seja criada para  automatizar essa tarefa , poupando os donos de animais domésticos de um estresse desnecessário.
        </div>

        <div class="paragraph">
          Este sistema não pode ser complicado, tendo em vista que muitos donos de pet ainda não são acostumados com a internet, e também deve oferecer suporte para denúncias de abusos feitos contra os animais. Nós nos preocupamos bastante com a saúde dos animais que utilizam nosso serviço.
        </div>
      </div>
    </div>

  </body>
</html>
