<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/main.css" rel ="stylesheet" type="text/css"/>
    <link href="../style/home.css" rel ="stylesheet" type="text/css"/>
    
    <script type="text/javascript" src="../scripts/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="../scripts/event.js"></script>
    <script type="text/javascript" src="../scripts/model.js"></script>
  </head>
  <body>

    <div class="header-container">
      <div class="header-logo-container">
        <div class="header-logo-image" src="../images/guestPetLogo"></div>
        <a class="header-logo-title" href="index.html">GuestPet</a>
      </div>

      <div class="header-links-container">
        <a class="header-link" href="home.html">Início</a>
        <a class="header-link" href="profile.html">Perfil</a>
        <button class="header-link">Mensagens</button>
        <button id="logoutButton" class="header-link">Sair</button>
      </div>
    </div>
    <div class="header-pseudo-shadow"></div>

    <div class="content-body">
        <button class="header-link" id="goBackButton">Voltar</button>
        <h1>Cadastrar novo pet</h1>
        
        <form action="javascript:void(0)">
          <input class="login-field" id="petNameField" type="text" name="name" value="nome"><p style="display:none" id="petNameFieldError"></p><br><br>
          <input class="login-field" id="petSpeciesField" type="text" name="species" value="espécie"><p style="display:none" id="petSpeciesFieldError"></p><br>
          <input class="login-field" id="petSizeField" type="text" name="size" value="porte"><p style="display:none" id="petSizeFieldError"></p><br>
          <input class="login-field" id="petNatureField" type="text" name="nature" value="natureza"><p style="display:none" id="petNatureFieldError"></p><br>
          <input class="login-submit" id="createPetButton" type="submit" value="Criar"><br>
        </form>
    </div>
    
    <script type="text/javascript" src="../scripts/createPet.js"></script>
  </body>
</html>
