<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/main.css" rel ="stylesheet" type="text/css"/>
    <link href="../style/home.css" rel ="stylesheet" type="text/css"/>

    <script type="text/javascript" src="../scripts/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="../scripts/event.js"></script>
    <script type="text/javascript" src="../scripts/model.js"></script>
    <script type="text/javascript" src="../scripts/owner.js"></script>
    <script type="text/javascript" src="../scripts/host.js"></script>
    <script type="text/javascript" src="../scripts/home.js"></script>
  </head>
  <body>

    <div class="header-container">
      <div class="header-logo-container">
        <div class="header-logo-image" src="../images/guestPetLogo"></div>
        <a class="header-logo-title" href="index.html">GuestPet</a>
      </div>

      <div class="header-links-container">
        <a class="header-link" href="home.html">Início</a>
        <a class="header-link" href="profile.html">Perfil</a>
        <a class="header-link" href="hostProfile.html">Mensagens</button>
        <button id="logoutButton" class="header-link">Sair</button>
      </div>
    </div>
    <div class="header-pseudo-shadow"></div>

    <div align="center" id="swicth-user-mode-container" class="user-modes-container">
      <button id="ownerButton" class="user-mode">owner</button>
      <button id="hostButton" class="user-mode">host</button>
    </div>

    <div id="contentBody" class="content-body">
      <!-- O QUE ESTÁ AQUI DENTRO DE CONTENT BODY NO FUTURO VAI SER -->
      <!-- SUBSTITUÍDO POR UMA OWNER VIEW OU UMA HOST VIEW -->
    </div>

  </body>
</html>
