<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/main.css" rel ="stylesheet" type="text/css"/>
    <link href="../style/home.css" rel ="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../scripts/jquery-3.1.0.js"></script>
    <script type="text/javascript" src="../scripts/model.js"></script>
    <script type="text/javascript" src="../scripts/event.js"></script>
    <link href="../style/searchHosts.css" rel ="stylesheet" type="text/css"/>


  </head>
  <body>
    <div class="header-container">
      <div class="header-logo-container">
        <div class="header-logo-image" src="../images/guestPetLogo"></div>
        <a class="header-logo-title" href="index.html">GuestPet</a>
      </div>

      <div class="header-links-container">
        <a class="header-link" href="home.html">Início</a>
        <a class="header-link" href="profile.html">Perfil</a>
        <button class="header-link">Mensagens</button>
        <button id="logoutButton" class="header-link" >Sair</button>
      </div>
    </div>
    <div class="header-pseudo-shadow"></div>

    <div class="content-body">

      <h1 id="title">Residências do Pelé</h1>

      <div class="users-list">
      	<ul id="list" class="userList" size="10"></ul>
      </div>
      <script type="text/javascript" src="../scripts/userHomes.js"></script>
<!--
      <div class="homeComponent">
        <h2 id=>E-mail</h2>
        <h3 id="email">fulaninho@gmail.com</h3>
      </div>

      <div class="homeComponentsDivisor"></div>

      <div class="homeComponent">
        <h2>Tipo de usuário</h2>
          <form action="">
            <input type="checkbox" id="ownerCheckbox">Owner<br>
            <input type="checkbox" id="hostCheckbox">Host
          </form>
      </div>

      <div class="homeComponentsDivisor"></div>

      <div class="homeComponent">
        <h2>Cidade</h2>
        <h3 id="city">Happy Harbor</h3>
      </div>
-->
    </div>
  </body>
</html>
