<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/main.css" rel ="stylesheet" type="text/css"/>
    <script type="text/javascript" src="../script/login.js"></script>
    <script type="text/javascript" src="../script/register.js"></script>
  </head>
  <body>

    <div class="header-container">
      <div class="header-logo-container">
        <div class="header-logo-image" src="../images/guestPetLogo"></div>
        <a class="header-logo-title" href="index.html">GuestPet</a>
      </div>

      <div class="header-links-container">
        <button class="header-link" onclick="showRegisterView()">Cadastre-se</button>
        <button class="header-link" onclick="showLoginView()">Entrar</button>
      </div>
    </div>
    <div class="header-pseudo-shadow"></div>

    <div id="banner-container" class="banner-container">

      <div id="left-half-banner" class="half-banner">
        <div class="half-banner-text">
          Vai viajar<br>e não tem onde<br>deixar seu pet?
        </div>
      </div>

      <div id="right-half-banner" class="half-banner">
        <div class="half-banner-text">
          Gostaria de ter animais em casa e ainda ganhar uma grana?
        </div>
      </div>

    </div>

    <div align="center" class="footer-button-container">
      <a class="footer-button" href="about.html">CONHEÇA GUESTPET</a>
    </div>

  </body>
</html>
