<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/login-register.css" rel ="stylesheet" type="text/css"/>
  </head>

  <div align="center" class="login-container">

    <div class="login-header">
      <a class="login-header-close" href="index.html">x</a>
      <div class="login-header-title">
        Fazer login
      </div>
    </div>

    <form action="/action_page.php">
      <input class="login-field" type="text" name="email" value="email"><br>
      <input class="login-field" type="password" name="password" value="senha"><br>
      <input class="login-submit" type="submit" value="Entrar"><br>
    </form>

    <a class="login-might-register-button" href="index.html">Não possui cadastro?</a>
  </div>

</hmtl>