<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>GuestPet</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900|Crete+Round" rel="stylesheet">
    <link href="../style/main.css" rel ="stylesheet" type="text/css"/>
    <link href="../style/home.css" rel ="stylesheet" type="text/css"/>
  </head>
  <body>

    <div class="header-container">
      <div class="header-logo-container">
        <div class="header-logo-image" src="../images/guestPetLogo"></div>
        <a class="header-logo-title" href="index.html">GuestPet</a>
      </div>

      <div class="header-links-container">
        <a class="header-link" href="home.html">Início</a>
        <a class="header-link" href="profile.html">Perfil</a>
        <button class="header-link">Mensagens</button>
        <button class="header-link">Sair</button>
      </div>
    </div>
    <div class="header-pseudo-shadow"></div>

    <div class="content-body">
      <h1>Profile</h1>
      <h2>Aqui tem coisas de profile</h2>
    </div>

  </body>
</html>
